flows.json
[
    {
        "id": "efa448e9.a84cb8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "900059c1.a86918",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "temperature",
        "func": "global.set('T',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 140,
        "wires": [
            [
                "2e33c393.b7519c",
                "2a6d3adb.b39a36",
                "7612071a.16ac18"
            ]
        ]
    },
    {
        "id": "2ebf9ac0.6d7456",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "humidity",
        "func": "global.set('H',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 300,
        "wires": [
            [
                "b474f6a5.30a0a8",
                "2a6d3adb.b39a36",
                "721e45d8.6a046c"
            ]
        ]
    },
    {
        "id": "e80d03b3.9ea36",
        "type": "ibmiot in",
        "z": "efa448e9.a84cb8",
        "authentication": "apiKey",
        "apiKey": "167bbde0.bebb02",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1999",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 50,
        "y": 180,
        "wires": [
            [
                "900059c1.a86918",
                "2ebf9ac0.6d7456",
                "d435ce97.df9b6",
                "c27273ac.a0ec9",
                "62c99014.117d1",
                "f4f35b52.59f218",
                "7f08e11f.4328"
            ]
        ]
    },
    {
        "id": "2a6d3adb.b39a36",
        "type": "debug",
        "z": "efa448e9.a84cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e33c393.b7519c",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "temperature",
        "group": "6d624ee7.4b2e8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "-10",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "b474f6a5.30a0a8",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "humidity",
        "group": "6d624ee7.4b2e8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "HUMIDITY",
        "label": "percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "d435ce97.df9b6",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "ammonia",
        "func": "global.set('A',msg.payload.d.ammoniagas)\nmsg.payload=msg.payload.d.ammoniagas\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 400,
        "wires": [
            [
                "4b7261a0.d650b",
                "2a6d3adb.b39a36",
                "e8574556.43f878"
            ]
        ]
    },
    {
        "id": "c27273ac.a0ec9",
        "type": "ui_slider",
        "z": "efa448e9.a84cb8",
        "name": "water controller",
        "label": "water contoller",
        "tooltip": "",
        "group": "a08f4707.c953d8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "487a74a1.2a0abc",
                "2a6d3adb.b39a36"
            ]
        ]
    },
    {
        "id": "487a74a1.2a0abc",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "watercontroller",
        "group": "a08f4707.c953d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "watercontroller",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "90",
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b7261a0.d650b",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "ammonia",
        "group": "6d624ee7.4b2e8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ammonia",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "",
        "x": 360,
        "y": 420,
        "wires": []
    },
    {
        "id": "62c99014.117d1",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "firedetection",
        "func": "global.set('F',msg.payload.d.firedetection)\nmsg.payload=msg.payload.d.firedetection\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 80,
        "wires": [
            [
                "e656b608.39b398",
                "2a6d3adb.b39a36",
                "3a97a96c.5dec16"
            ]
        ]
    },
    {
        "id": "e656b608.39b398",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "Fire detection",
        "group": "c0b8b915.8d1b38",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fire detection",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2595a6d.f010d8",
        "type": "ui_button",
        "z": "efa448e9.a84cb8",
        "name": "Light OFF",
        "group": "f4e8e669.fdccf8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"lightoff\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "b0a89eae.eaf35",
                "62551516.a32dec"
            ]
        ]
    },
    {
        "id": "3962c8d9.9fa358",
        "type": "ui_button",
        "z": "efa448e9.a84cb8",
        "name": "Light ON",
        "group": "f4e8e669.fdccf8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"lighton\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "b0a89eae.eaf35",
                "62551516.a32dec"
            ]
        ]
    },
    {
        "id": "b0a89eae.eaf35",
        "type": "debug",
        "z": "efa448e9.a84cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "62551516.a32dec",
        "type": "ibmiot out",
        "z": "efa448e9.a84cb8",
        "authentication": "apiKey",
        "apiKey": "167bbde0.bebb02",
        "outputType": "cmd",
        "deviceId": "1999",
        "deviceType": "iotdevice",
        "eventCommandType": "Light",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "847ecca2.77378",
        "type": "http in",
        "z": "efa448e9.a84cb8",
        "name": "m input",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "eef611a7.15967"
            ]
        ]
    },
    {
        "id": "eb659972.29f3e8",
        "type": "http response",
        "z": "efa448e9.a84cb8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 740,
        "wires": []
    },
    {
        "id": "eef611a7.15967",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "287e579a.cb4688",
                "eb659972.29f3e8",
                "9677dc0.bdde428"
            ]
        ]
    },
    {
        "id": "287e579a.cb4688",
        "type": "debug",
        "z": "efa448e9.a84cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 700,
        "wires": []
    },
    {
        "id": "9677dc0.bdde428",
        "type": "ibmiot out",
        "z": "efa448e9.a84cb8",
        "authentication": "apiKey",
        "apiKey": "167bbde0.bebb02",
        "outputType": "cmd",
        "deviceId": "1999",
        "deviceType": "iotdevice",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 480,
        "y": 800,
        "wires": []
    },
    {
        "id": "f4f35b52.59f218",
        "type": "cloudant out",
        "z": "efa448e9.a84cb8",
        "name": "",
        "cloudant": "",
        "database": "sensordata",
        "service": "node-red-ujwtt-2021--cloudant-1621416628687-8955",
        "payonly": true,
        "operation": "insert",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "7612071a.16ac18",
        "type": "rbe",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "e75e6b79.713528"
            ]
        ]
    },
    {
        "id": "759f1234.7dfb7c",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Temperature is high  &language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "ea069484.3bddf8",
        "type": "debug",
        "z": "efa448e9.a84cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "e75e6b79.713528",
        "type": "switch",
        "z": "efa448e9.a84cb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "110",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "759f1234.7dfb7c"
            ]
        ]
    },
    {
        "id": "c08f7fe8.d9486",
        "type": "http in",
        "z": "efa448e9.a84cb8",
        "name": "http in",
        "url": "/sensordata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "1390105e.06c89"
            ]
        ]
    },
    {
        "id": "aca852ac.7bc2a",
        "type": "http response",
        "z": "efa448e9.a84cb8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "1390105e.06c89",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "http response",
        "func": "msg.payload={\"T\":global.get('T'),\"H\":global.get('H'),\"A\":global.get('A'),\"F\":global.get('F'),\"W\":global.get('W'),}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 860,
        "wires": [
            [
                "aca852ac.7bc2a"
            ]
        ]
    },
    {
        "id": "7f08e11f.4328",
        "type": "function",
        "z": "efa448e9.a84cb8",
        "name": "Waterlevel",
        "func": "global.set('W',msg.payload.d.waterlevel)\nmsg.payload=msg.payload.d.waterlevel\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "88fbbcf4.669d3",
                "a367b137.b6a37"
            ]
        ]
    },
    {
        "id": "88fbbcf4.669d3",
        "type": "ui_gauge",
        "z": "efa448e9.a84cb8",
        "name": "Waterlevel",
        "group": "a08f4707.c953d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Waterlevel",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3064ee7.32bed",
        "type": "ui_button",
        "z": "efa448e9.a84cb8",
        "name": "FanON",
        "group": "4541c844.7097b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "FanON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"fanon\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "da02ad9e.d73a1",
                "eae20a25.e9bf88"
            ]
        ]
    },
    {
        "id": "30d11029.b901e",
        "type": "ui_button",
        "z": "efa448e9.a84cb8",
        "name": "Fanoff",
        "group": "4541c844.7097b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fanoff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"fanoff\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "da02ad9e.d73a1",
                "eae20a25.e9bf88"
            ]
        ]
    },
    {
        "id": "da02ad9e.d73a1",
        "type": "debug",
        "z": "efa448e9.a84cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "eae20a25.e9bf88",
        "type": "ibmiot out",
        "z": "efa448e9.a84cb8",
        "authentication": "apiKey",
        "apiKey": "167bbde0.bebb02",
        "outputType": "cmd",
        "deviceId": "1999",
        "deviceType": "iotdevice",
        "eventCommandType": "Fan",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 260,
        "y": 660,
        "wires": []
    },
    {
        "id": "3a97a96c.5dec16",
        "type": "rbe",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "b9ea1a36.13d288"
            ]
        ]
    },
    {
        "id": "a367b137.b6a37",
        "type": "rbe",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "6cbe9ba8.ef3054"
            ]
        ]
    },
    {
        "id": "721e45d8.6a046c",
        "type": "rbe",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "138536f7.e80be9"
            ]
        ]
    },
    {
        "id": "b9ea1a36.13d288",
        "type": "switch",
        "z": "efa448e9.a84cb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 40,
        "wires": [
            [
                "8af3b19.849fd5"
            ]
        ]
    },
    {
        "id": "138536f7.e80be9",
        "type": "switch",
        "z": "efa448e9.a84cb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "13844993.f4bda6"
            ]
        ]
    },
    {
        "id": "50c475f6.05538c",
        "type": "switch",
        "z": "efa448e9.a84cb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "e197c8c0.00b668"
            ]
        ]
    },
    {
        "id": "e8574556.43f878",
        "type": "rbe",
        "z": "efa448e9.a84cb8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "50c475f6.05538c"
            ]
        ]
    },
    {
        "id": "6cbe9ba8.ef3054",
        "type": "switch",
        "z": "efa448e9.a84cb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "90",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "d9c21e72.a3823"
            ],
            [
                "b6c98ba5.f968a8"
            ]
        ]
    },
    {
        "id": "8af3b19.849fd5",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Fire exists &language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 40,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "b6c98ba5.f968a8",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Water underflows  &language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "e197c8c0.00b668",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Ammonia is high &language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "13844993.f4bda6",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Humidity is high&language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "d9c21e72.a3823",
        "type": "http request",
        "z": "efa448e9.a84cb8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=ejWi9mCyph4PXN8bBKIEgdFrYVnl5AQxGc601zLHOR2t3JTqZagcfhlA3VUFSmEpdG9Dq67aubIneP2t&message=Water overflows  &language=english&route=q&numbers=6281727058",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "ea069484.3bddf8"
            ]
        ]
    },
    {
        "id": "167bbde0.bebb02",
        "type": "ibmiot",
        "name": "iotdevice",
        "keepalive": "60",
        "serverName": "hx9af7.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "6d624ee7.4b2e8",
        "type": "ui_group",
        "name": "Poultry",
        "tab": "189c18c4.b8bb37",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a08f4707.c953d8",
        "type": "ui_group",
        "name": "waterlevel",
        "tab": "902f2514.10f888",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c0b8b915.8d1b38",
        "type": "ui_group",
        "name": "fire",
        "tab": "d804cc29.a380b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4e8e669.fdccf8",
        "type": "ui_group",
        "name": "lightoff",
        "tab": "840c9ae3.b717d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4541c844.7097b8",
        "type": "ui_group",
        "name": "Fanoff",
        "tab": "4a8c5359.14f02c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "189c18c4.b8bb37",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "902f2514.10f888",
        "type": "ui_tab",
        "name": "Water",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d804cc29.a380b",
        "type": "ui_tab",
        "name": "FIRE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "840c9ae3.b717d8",
        "type": "ui_tab",
        "name": "light",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a8c5359.14f02c",
        "type": "ui_tab",
        "name": "fan",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]